@use './variables/colors.scss' as *;


.container {
   max-width: 1480px;
   margin: 0 auto;
   padding: 0 40px 40px;
   overflow-x: hidden;
}

body {
   color: $black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: calc(0.625rem + ((1vw - 3.2px) * 0.375));
}

.problem-message {
   font-size: 2rem;
   text-align: center;
   padding: 200px 50px 0;
}